@import "_define";

@mixin min_height($min-height,$max-height) {
	@media screen and (min-height:$min-height) and (max-height:$max-height) and (min-width:900px){
		@content;
	}
}

@mixin min_width($min-width, $max-width) {
	@media screen and (min-width:$min-width) and (max-width:$max-width){
		@content;
	}
}

body.page-level-2{
	.header{
		button.btn-wrap-menu{
			span.text-menu{
				font-size:1.8rem;
				@include fontbase;
				font-weight:bold;
				color:$xam;
				display:inline-block;
				vertical-align: middle;
				text-transform: uppercase;
				@include media(480px){
					font-size:1.5rem;
				}
			}
			span.icon-bar{
				display:inline-block;
				vertical-align: middle;
				height:2px;
				width:30px;
				border-radius:3px;
				background:$xam;
				position:relative;
				margin-left:20px;
				@include transition(all 0.3s);
				&:before, &:after{
					content:'';
					display:inline-block;
					position:absolute;
					height:2px;
					width:30px;
					border-radius:3px;
					background:$xam;
					left:0;
					transform:rotate(0deg);
					-webkit-transform:rotate(0deg);
					-moz-transform:rotate(0deg);
					@include transition(all 0.3s);
				}
			}
		}
	}
	.dotstyle{
		@include min_width(320px, 768px){
			display: none;
		}
	}
}
.section{
	width:100%;
	height:100%;
	@include min_height(350px, 700px){
		height:auto;
	};
	@include min_width(320px, 480px){
		height:auto;
	}
	h1.title, h2.title{
		text-align:center;
		margin-bottom:2.2rem;
		font-size:2.5rem;
		@include fontbase;
		font-weight:600;
		color:$xanhduong;
		text-transform:uppercase;
		vertical-align:bottom;
		@include min_width(320px, 480px){
			font-size:1.8rem;
			margin-bottom:3rem;
		}
		i.ic-text{
			display:inline-block;
			width:16px;
			height:16px;
			background:url('../images/ic-text.png')no-repeat;
			vertical-align:baseline;
			&.left{
				margin-right:1rem;
			}
			&.right{
				margin-left:1rem;
			}
			@include media(480px){
				vertical-align:bottom;
			}
		}
	}
	p.description{
		text-align:center;
		font-size:2.8rem;
		@include fontbaskvill;
		color:$text01;
		line-height:3rem;
		text-transform:uppercase;

		@include min_width(320px, 480px){
			font-size:2rem;
			line-height:2.6rem;
		}
	}
}
.section01{
	.title-container{
		height:auto;
		margin-bottom:1rem;
		.wrap-title	{
			padding-top:20rem;
			@include min_height(350px, 700px){
				padding-bottom: 5rem;
			};
			@include min_width(320px, 480px){
				padding-top:15rem;
			}

		}
	}
	.content-section{
		width:100%;
		height:calc(100% - 35rem);
		background:url('../images/product/bg-product.jpg')no-repeat;
		background-size:cover;
		@include min_height(350px, 700px){
			height:auto;
			min-height:350px;
		};
		@include min_width(320px, 480px){
			height:auto;
			min-height:30rem;
		}

	}
}
.section-project{
	height:auto;
	margin:3rem 0;
	padding:3rem 0;
	@include min_height(350px, 700px){
		margin:4rem 0;
	};
	@include min_width(320px, 480px){
		margin:2.5rem 0;
	}
	.wrap-title{
		max-width:960px;
		margin:0 auto;
	}
	.title-container{
		height:auto;
		margin-bottom:2rem;
	}

	.wrap-video{
		position:relative;
		overflow: hidden;
		.wrap-title{
			position:absolute;
			top:5%;
			left:-5%;
			padding:15px;
			background:rgba(95,95,95,0.6);
			z-index: 60;
			width: 60%;
			opacity: 0;
			visibility: hidden;
			transform:scale(1.1);
			-webkit-transform:scale(1.1);
			-moz-transform:scale(1.1);
			@include transition(all 0.3s);
			@include min_width(320px, 768px){
				position: static;
				width: 100%;
				background: none;
				opacity: 1;
				visibility: visible;
				padding-left:30px;
				padding-right:30px;
			}
			p.description{
				font-size:1.4rem;
				line-height: 2.5rem;
				margin-bottom:2rem;
				text-transform: none;
				@include fontbase;
				color:white;
				text-align: left;
				@include min-width(320px, 768px){
					font-size:1.2rem;
					line-height: 2rem;
					margin-bottom: 1rem;
					color: $text01;
				};
			}
		}
		&:hover{
			.wrap-title{
				left:3%;
				opacity: 1;
				visibility: visible;
				transform:scale(1);
				-webkit-transform:scale(1);
				-moz-transform:scale(1);
			}
		}
	}

}
.section04{
	margin-bottom:9rem;

}
.bottom-section{
	width:100%;
	height:auto;
	@include min_height(350px, 700px){
		height:auto;
	};
	@include min_width(320px, 480px){
		height:auto;
	}
	.fullheight{
		height:100%;
		position:relative;
		.left-img{
			position:absolute;
			top:0;
			left:0;
			width:55%;
			height:100%;
			padding-right:1rem;
			.img-container{
				width:100%;
				height:100%;
				background:url('../images/product/img01-product01.jpg')no-repeat;
				background-size:cover;
			}
		}
		.right-img{
			position:absolute;
			right:0;
			width:45%;
			height:calc(100%/3);
			.img-container{
				width:100%;
				height:100%;
				background-size:cover;
			}
			&.right-top-img{
				padding-bottom:1rem;
				top:0;
				.img-container{
					background-image:url('../images/product/img02-product01.jpg');
				}
			}
			&.right-bottom-img{
				padding-top:1rem;
				bottom:0;
				.img-container{
					background-image:url('../images/product/img04-product01.jpg');
				}
			}
			&.right-middle-img{
				top:50%;
				transform:translateY(-50%);
				-webkit-transform:translateY(-50%);
				-moz-transform:translateY(-50%);
				.img-container{
					background-image:url('../images/product/img03-product01.jpg');
				}
			}

		}
		.top-left{
			position:absolute;
			width:55%;
			height:35%;
			top:0;
			left:0;
			padding:0 1rem 0 0;
			.img-container{
				background-image:url('../images/product/img01-product02.jpg');
				background-size:cover;
				width:100%;
				height:100%;
			}
		}
		.bottom-left{
			@extend .top-left;
			bottom:0;
			top:auto;
			height:65%;
			padding:1rem 1rem 0 0;
			.img-container{
				background-image:url('../images/product/img02-product02.jpg');
			}
		}
		.top-right{
			@extend .top-left;
			left:auto;
			right:0;
			width:45%;
			padding:0;
			.img-container{
				background-image:url('../images/product/img03-product02.jpg');
			}
		}
		.bottom-right{
			@extend .top-right;
			top:auto;
			bottom:0;
			height:65%;
			padding:1rem 0 0 0;
			.img-container{
				background-image:url('../images/product/img04-product02.jpg');
			}
		}
	}
}
